body {
    background: rgb(209, 140, 223);
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    padding: 20px;
    margin: auto;
    justify-content: center;
}

.imagen {
    border: 10px;
    justify-content: center;
    width: auto;
    height: 170px;
    margin: auto;
}

.boton1 {
    margin-top: 20px;
    background-color: pink;
    border-radius: 10px;
}

.boton2 {
    margin-top: 20px;
    background-color: blue;
    border-radius: 10px;
}